#add-location-form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #searchInputTxt {
        width:85%
    }


    #searchBtn {
        width: 10%
    }
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

.tabs .indicator{
    background-color: #03a9f4;
  }