// Small tablets and large smartphones (landscape view)
$screen-sm-min: 375px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

#app {
    // width:40vw;
    .row1 {
        margin-top: 4vh;
    }
    .row2 {
        display:flex;
        margin-bottom: 4vh;

        .currentWxDesc{
            display: grid;
            grid-template-columns: 50% 50%;
            // flex-flow: column;
            div {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
            }

            @include sm {
                width: 100%;
            }
            @include md {
                width: 100%;
            }
            @include lg {
                width: 50%;
            }
        }

        .currentStats {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-rows: auto;
            width: 50%;
            // flex-flow: column;

            .status-box{
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
            }

            @include sm {
                display: none;
            }
            @include md {
                display: none;
            }
            @include lg {
                display: grid;
                grid-template-columns: 33.3% 33.3% 33.3%;
                grid-template-rows: auto;
                width: 50%;
            }
        }
    }

    .row3 {
        
        .WxHourly{
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            // justify-content: space-evenly;
            // flex-flow: column;
            .hourly-box{
                display: flex;
                flex-flow: column;
                align-items: center;
            }
        }

        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            margin-bottom: 4vh;
            display: block;
        }
    }
    .row4 {
        margin-bottom: 2vh;
        .WxDaily{
            display: flex;
            flex-flow: column;
            width:100%;

            .daily-wx-box{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
                // justify-content: space-evenly;

                .daily-status-box {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    
}

.currentTemp {
    font: 700 6vh/1.2 "Poppins", sans-serif;
}
