#app {
    width:40vw;

    .row2 {
        display:flex;

        .currentWxDesc{
            display: grid;
            grid-template-columns: 50% 50%;
            width: 50%;
            // flex-flow: column;
            
        }

        .currentStats {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            width: 50%;
            // flex-flow: column;

            // .status-box{
            //     width:30%;
            // }
        }
    }

    .row3 {
        .WxHourly{
            
            display: flex;
            justify-content: space-between;
            // flex-flow: column;
        }
    }
    .row4 {
        .WxDaily{
            display: flex;
            flex-flow: column;
            width:100%;

            .daily-wx-box{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    
}