body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    width:100%;
    background-color: #fff;

    position:relative;
    // overflow: hidden;
}
* {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    width:100%;
    // background-color : rgba(255, 255, 255,0.2);
    // backdrop-filter: blur( 10px );

    position:relative;
    overflow: hidden;
}

section{
    min-height: 95vh;
    margin: 0 auto;
}

#blobId1{
    
    position: absolute;
    left: 50%;
    top: 40%;
    height:80vh;
  

    transform: translate(-50%, -50%);
    // right:-50vw;
    z-index: -1;

    #blobIdSvg{
        fill: $primaryShade1;
        opacity: 0.6;
    }
}

/* 
    FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Nunito:wght@400;700&display=swap');
h1{
    font: 700 3vh/1.2 "Poppins", sans-serif;
}

h2{
    font: 400 2vh/1.2 "Poppins", sans-serif;
}

h3 {
    font: 400 1.5vh/1.2 "Poppins", sans-serif;
    color: #b6b6b6;
}

h4 {
    font: 400 1.2vh/1.2 "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
}

h1, h2, h3, h4, h5, h6 {
    margin:0 0 1vh 0;
}
h5 {
    font:300 3vh/1.2 'Poppins', sans-serif;
    text-transform: uppercase;
}
h6 {
    font: 100 2vh/1.2 'Poppins', sans-serif;
}
th {
    font: 700 1.2vh 'Nunito', sans-serif;
    /* text-transform: uppercase; */
}
p, td, input, label, option {
    font: 400 1.2vh 'Nunito', sans-serif;
    margin: 0;
}

.tab a, .nav-text  {
    font-family: 400 "Poppins", sans-serif !important;
    font-size: 1.5vh !important;
}