#home {
    min-height: 95vh !important;

    #leftArticleId{
        width:100%;
        height: 95vh ;
        display: flex;
        flex-flow: column;
        justify-content: center;

        #homeImageId {
            height: 40vh;
        }

        .homeBtnContainer {
            margin-top: 4vh;
        }
    }
}
