$canvasColor: #f9f9f9;

$backgroundColor: #fff;
$foregroundColor: #111;

// Shades of blue
$primaryColor: #03a9f4;
$primaryShade1: #e1f5fe;
$primaryShade2: #b3e5fc;
$primaryShade3: #4fc3f7;
$primaryShade4: #0288d1;
$primaryShade5: #0277bd;

//Shades of violet
$secondaryColor: #673ab7;
$secondaryShade1: #ede7f6;
$secondaryShade2: #d1c4e9;
$secondaryShade3: #9575cd;
$secondaryShade4: #512da8;
$secondaryShade5: #311b92;

// Shades of bluegreen
$accentColor: #009688;
$accentShade1: #e0f2f1;
$accentShade2: #b2dfdb;
$accentShade3: #4db6ac;
$accentShade4: #00796b;
$accentShade5: #004d40;

// Shades of Green
$accent2Color: #8bc34a;
$accent2Shade1: #e7f6d5;
$accent2Shade2: #c5e1a5;
$accent2Shade3: #aed581;
$accent2Shade4: #689f38;
$accent2Shade5: #558b2f;

// Shades of Red
$accent3Color: #f44336;
$accent3Shade1: #ffdde0;
$accent3Shade2: #ffcdd2;
$accent3Shade3: #ef9a9a;
$accent3Shade4: #d32f2f;
$accent3Shade5: #b71c1c;

// Neutral colors
$neutralShade0: #f8f8f8;
$neutralShade1: #f2f2f2;
$neutralShade2: #e8e9e9;
$neutralShade3: #d1d3d4;
$neutralShade4: #babdbf;
$neutralShade5: #808488;
$neutralShade6: #666a6d;
$neutralShade7: #4d5052;
$neutralShade8: #212122;

// others
$grayColor: #999;
$lightGrayColor: #ddd;



// #bluepurple {
// 	+ label {
// 		background: linear-gradient(to left, #673ab7 50%, #03a9f4 50%);
// 	}
// 	&:checked ~ main {
// 		--backgroundColor: #fff;
// 		--foregroundColor: #111;
// 		--primaryColor: #03a9f4;
// 		--primaryShade1: #e1f5fe;
// 		--primaryShade2: #b3e5fc;
// 		--primaryShade3: #4fc3f7;
// 		--primaryShade4: #0288d1;
// 		--primaryShade5: #0277bd;
// 		--secondaryColor: #673ab7;
// 		--secondaryShade1: #ede7f6;
// 		--secondaryShade2: #d1c4e9;
// 		--secondaryShade3: #9575cd;
// 		--secondaryShade4: #512da8;
// 		--secondaryShade5: #311b92;
// 		--accentColor: #009688;
// 		--accentShade1: #e0f2f1;
// 		--accentShade2: #b2dfdb;
// 		--accentShade3: #4db6ac;
// 		--accentShade4: #00796b;
// 		--accentShade5: #004d40;
// 		--accent2Color: #8bc34a;
// 		--accent2Shade1: #e7f6d5;
// 		--accent2Shade2: #c5e1a5;
// 		--accent2Shade3: #aed581;
// 		--accent2Shade4: #689f38;
// 		--accent2Shade5: #558b2f;
// 		--accent3Color: #f44336;
// 		--accent3Shade1: #ffdde0;
// 		--accent3Shade2: #ffcdd2;
// 		--accent3Shade3: #ef9a9a;
// 		--accent3Shade4: #d32f2f;
// 		--accent3Shade5: #b71c1c;
// 	}
// }

// #sunset {
// 	+ label {
// 		background: linear-gradient(to right, #ff9557 50%, #ffcc67 50%);
// 	}
// 	&:checked ~ main {
// 		--canvasColor: #f9f9f9;
// 		--backgroundColor: #fff;
// 		--foregroundColor: #111;
// 		--primaryColor: #ff9557;
// 		--primaryShade1: #ffe2d1;
// 		--primaryShade2: #ffceb2;
// 		--primaryShade3: #ffb184;
// 		--primaryShade4: #e88850;
// 		--primaryShade5: #d17a48;
// 		--secondaryColor: #ffcc67;
// 		--secondaryShade1: #fff1d5;
// 		--secondaryShade2: #ffde9e;
// 		--secondaryShade3: #ffd074;
// 		--secondaryShade4: #e8ba5e;
// 		--secondaryShade5: #ba954b;
// 		--accentColor: #4e5166;
// 		--accentShade1: #cecfd5;
// 		--accentShade2: #aeafb9;
// 		--accentShade3: #8e909d;
// 		--accentShade4: #6e7081;
// 		--accentShade5: #404354;
// 		--accent2Color: #588b8b;
// 		--accent2Shade1: #c2d4d4;
// 		--accent2Shade2: #a3bfbf;
// 		--accent2Shade3: #85aaaa;
// 		--accent2Shade4: #507f7f;
// 		--accent2Shade5: #497272;
// 		--accent3Color: #fe5f55;
// 		--accent3Shade1: #fec4c1;
// 		--accent3Shade2: #fea7a2;
// 		--accent3Shade3: #fe7c73;
// 		--accent3Shade4: #e7574e;
// 		--accent3Shade5: #b9463e;
// 	}
// }

// #godiva {
// 	+ label {
// 		background: linear-gradient(to right, #a05793 50%, #a3d858 50%);
// 	}
// 	&:checked ~ main {
// 		--canvasColor: #f9f9f9;
// 		--backgroundColor: #fff;
// 		--foregroundColor: #111;

// 		--primaryColor: #a05793;
// 		--primaryShade1: #e5d1e1;
// 		--primaryShade2: #d3b2cd;
// 		--primaryShade3: #b984b0;
// 		--primaryShade4: #925086;
// 		--primaryShade5: #834879;

// 		--secondaryColor: #a3d858;
// 		--secondaryShade1: #e5f4d1;
// 		--secondaryShade2: #cce9a3;
// 		--secondaryShade3: #bce285;
// 		--secondaryShade4: #95c550;
// 		--secondaryShade5: #779e41;

// 		--accentColor: #245e71;
// 		--accentShade1: #d7e1e5;
// 		--accentShade2: #afc4cb;
// 		--accentShade3: #7398a4;
// 		--accentShade4: #4b7b8a;
// 		--accentShade5: #1e4d5d;

// 		--accent2Color: #2aa5a1;
// 		--accent2Shade1: #d8eeed;
// 		--accent2Shade2: #9ed6d4;
// 		--accent2Shade3: #64bdba;
// 		--accent2Shade4: #279693;
// 		--accent2Shade5: #1f7976;

// 		--accent3Color: #92374d;
// 		--accent3Shade1: #ebdad3;
// 		--accent3Shade2: #cda4ae;
// 		--accent3Shade3: #af6d7d;
// 		--accent3Shade4: #853246;
// 		--accent3Shade5: #6b2939;
// 	}
// }

// #dark {
// 	+ label {
// 		background: linear-gradient(to right, #367bc3 50%, #38bfa7 50%);
// 	}
// 	&:checked ~ main {
// 		--canvasColor: #111;
// 		--backgroundColor: #2a313b;
// 		--foregroundColor: #ebe8d8;

// 		--primaryColor: #367bc3;
// 		--primaryShade5: #b5cfe9;
// 		--primaryShade4: #91b7de;
// 		--primaryShade3: #5a93cd;
// 		--primaryShade2: #3270b2;
// 		--primaryShade1: #285a8e;

// 		--secondaryColor: #38bfa7;
// 		--secondaryShade5: #c8ede7;
// 		--secondaryShade4: #92dccf;
// 		--secondaryShade3: #6ed0be;
// 		--secondaryShade2: #33ae98;
// 		--secondaryShade1: #2e9d89;

// 		--accentColor: #586994;
// 		--accentShade5: #d1d6e1;
// 		--accentShade4: #a3adc4;
// 		--accentShade3: #7684a7;
// 		--accentShade2: #49567a;
// 		--accentShade1: #39435f;

// 		--accent2Color: #8fe1a2;
// 		--accent2Shade5: #d6f4dd;
// 		--accent2Shade4: #c1eecc;
// 		--accent2Shade3: #a3e6b2;
// 		--accent2Shade2: #82cd94;
// 		--accent2Shade1: #76b985;

// 		--accent3Color: #fe938c;
// 		--accent3Shade5: #fee1df;
// 		--accent3Shade4: #fec4c0;
// 		--accent3Shade3: #fea6a0;
// 		--accent3Shade2: #e78680;
// 		--accent3Shade1: #b96b66;
// 		color: #f1f2eb;
// 		border-color: #f1f2eb;
// 		> section {
// 			border-color: #f1f2eb;
// 			> h6 {
// 				color: #f1f2eb;
// 			}
// 		}
// 	}
// }

// #pinkaru {
// 	+ label {
// 		background: linear-gradient(to right, #f95794 50%, #323da5 50%);
// 	}
// 	&:checked ~ main {
// 		border-color: #fff;
// 		> section {
// 			border-color: #fff;
// 			> h6 {
// 				color: #fff;
// 			}
// 		}
// 		--canvasColor: #111;
// 		--backgroundColor: #2a313b;
// 		--foregroundColor: #e3f2fd;

// 		--primaryColor: #f95794;
// 		--primaryShade5: #fdd1e1;
// 		--primaryShade4: #fba3c4;
// 		--primaryShade3: #fa75a7;
// 		--primaryShade2: #e35087;
// 		--primaryShade1: #b6406c;

// 		--secondaryColor: #323da5;
// 		--secondaryShade5: #c7cae6;
// 		--secondaryShade4: #8f95cd;
// 		--secondaryShade3: #6971bd;
// 		--secondaryShade2: #2e3896;
// 		--secondaryShade1: #293288;

// 		--accentColor: #FFC729;
// 		--accentShade5: #ffefc4;
// 		--accentShade4: #ffe08a;
// 		--accentShade3: #ffd14f;
// 		--accentShade2: #e8b526;
// 		--accentShade1: #d1a322;

// 		--accent2Color: #53dd6c;
// 		--accent2Shade5: #d0f5d6;
// 		--accent2Shade4: #a1ecae;
// 		--accent2Shade3: #72e386;
// 		--accent2Shade2: #4cc963;
// 		--accent2Shade1: #3da14f;

// 		--accent3Color: #f52f57;
// 		--accent3Shade5: #fcc6d1;
// 		--accent3Shade4: #f98da3;
// 		--accent3Shade3: #f65475;
// 		--accent3Shade2: #df2b50;
// 		--accent3Shade1: #b32340;
// 	}
// }

// #dark,
// #pinkaru {
// 	&:checked ~ main {
// 		h6.subheader,
// 		.feedback-form {
// 			color: var(--neutralShade1);
// 		}
// 		::placeholder {
// 			color: var(--neutralShade4);
// 			opacity: 1;
// 		}
// 		:-ms-input-placeholder {
// 			color: var(--neutralShade4);
// 		}
// 		::-ms-input-placeholder {
// 			color: var(--neutralShade4);
// 		}
// 		.tooltip:after {
// 			color: var(--backgroundColor);
// 		}
// 		a.button,
// 		input.button,
// 		button,
// 		.tooltip.dark:after {
// 			color: var(--foregroundColor);
// 			text-shadow: 0 1px 2px rgba(0,0,0,0.1);
// 		}
// 		.button:active, .button.active {
// 			background: var(--primaryShade1);
// 		}
// 		.button.secondary:active, .button.secondary.active {
// 			background: var(--secondaryShade1);
// 		}
// 		.button.accent {
// 			background: var(--accentShade2);
// 			&:active {
// 				background: var(--accentShade1);
// 			}
// 		}
// 		.button.accent2 {
// 			background: var(--accent2Shade2);
// 			&:active {
// 				background: var(--accent2Shade1);
// 			}
// 		}
// 		.button.accent3 {
// 			background: var(--accent3Shade2);
// 			&:active {
// 				background: var(--accent3Shade1);
// 			}
// 		}
// 		a.link {
// 		color: var(--neutralShade2);
// 		&:hover,
// 		&.hover {
// 			color: var(--neutralShade1);
// 			border-bottom: 2px solid;
// 		}
// 		&.primary {
// 			color: var(--primaryShade4);
// 			&:hover,
// 			&.hover {
// 				color: var(--primaryShade5);
// 			}
// 		}
// 		&.secondary {
// 			color: var(--secondaryShade4);
// 			&:hover,
// 			&.hover {
// 				color: var(--secondaryShade5);
// 			}
// 		}
// 	}
// 		.profile-default img {
// 			border-bottom: 7px solid var(--secondaryShade5);
// 		}
// 	}
// }
